In [1]:
import pandas as pd
import numpy as np
from tensorflow import keras
from sklearn.linear_model import SGDRegressor
from Data_preparation_Library import *

In [105]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn import svm

In [106]:
df = pd.read_excel('Subjects\Deepti\marker_data/filling_data.xlsx')
df

,RELB_X,RELB_Y,RELB_Z,RM1_X,RM1_Y,RM1_Z,RFRM_X,RFRM_Y,RFRM_Z
0,-175.463,1413.70,1246.63,-233.226,1333.85,1243.50,-189.732,1282.51,1129.40
1,-175.427,1413.68,1246.74,-233.226,1333.85,1243.50,-189.732,1282.51,1129.40
2,-175.389,1413.65,1246.87,-233.226,1333.85,1243.50,-189.732,1282.51,1129.40
3,-175.352,1413.64,1246.95,-233.226,1333.85,1243.50,-189.732,1282.51,1129.40
4,-175.313,1413.63,1247.03,-233.226,1333.85,1243.50,-189.732,1282.51,1129.40
...,...,...,...,...,...,...,...,...,...
13795,-194.676,1472.95,1275.22,-251.386,1390.20,1277.45,-261.433,1461.99,1255.86
13796,-194.607,1473.03,1275.23,-251.386,1390.20,1277.45,-261.377,1462.08,1255.88
13797,-194.563,1473.10,1275.28,-251.386,1390.20,1277.45,-261.361,1462.12,1255.87
13798,-194.496,1473.17,1275.32,-251.386,1390.20,1277.45,-261.346,1462.21,1255.85
13799,-194.424,1473.23,1275.36,-251.386,1390.20,1277.45,-261.222,1462.33,1255.97

In [107]:
X = df[['RELB_X', 'RELB_Y', 'RELB_Z', 'RFRM_X','RFRM_Y', 'RFRM_Z']]
y_x = df['RM1_X']
y_y = df['RM1_Y']
y_z = df['RM1_Z']

In [108]:
X_train, X_test, y_train, y_test = train_test_split(X, y_y,test_size=0.2)
y_train, y_test = np.array(y_train).reshape((y_train.shape[0],1)), np.array(y_test).reshape((y_test.shape[0],1))
for data in [X_train, X_test, y_train, y_test]:
    print(data.shape)

(11040, 6)
(2760, 6)
(11040, 1)
(2760, 1)

In [109]:
import numpy as np
from sklearn.linear_model import SGDRegressor
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

# Always scale the input. The most convenient way is to use a pipeline.
scaler = StandardScaler()
X = scaler.fit_transform(X)
reg_x = SGDRegressor(max_iter=10000, n_iter_no_change = 5)
reg_y = SGDRegressor(max_iter=10000, n_iter_no_change = 5)
reg_z = SGDRegressor(max_iter=10000, n_iter_no_change = 5, tol = 0.00000000000001)

reg_x.fit(X, y_x)
reg_y.fit(X, y_y)
reg_z.fit(X, y_z)

SGDRegressor(max_iter=10000, tol=1e-14)

In [110]:
print(reg_x.score(X, y_x))
print(reg_y.score(X, y_y))
print(reg_z.score(X, y_z))

0.9563528030066684
0.9827861401746689
0.7780946240438461

In [111]:
hdf = pd.read_excel('Subjects/Deepti/marker_data/hammer02_rm1_regression.xlsx')
hdf

,RELB_X,RELB_Y,RELB_Z,RM1_X,RM1_Y,RM1_Z,RFRM_X,RFRM_Y,RFRM_Z
0,-203.736,1404.92,1222.17,NaN,NaN,NaN,-271.763,1394.40,1189.50
1,-204.260,1404.35,1227.03,NaN,NaN,NaN,-272.387,1393.98,1195.38
2,-203.073,1403.32,1231.95,NaN,NaN,NaN,-272.895,1393.64,1200.91
3,-203.275,1402.86,1236.15,NaN,NaN,NaN,-273.212,1393.29,1206.06
4,-204.895,1402.92,1239.52,NaN,NaN,NaN,-273.361,1392.98,1210.80
...,...,...,...,...,...,...,...,...,...
2695,-201.682,1402.52,1274.75,NaN,NaN,NaN,-269.211,1394.09,1257.24
2696,-201.631,1402.38,1274.86,NaN,NaN,NaN,-269.160,1393.94,1257.38
2697,-201.590,1402.26,1275.01,NaN,NaN,NaN,-269.103,1393.76,1257.59
2698,-201.591,1402.15,1275.20,NaN,NaN,NaN,-269.087,1393.57,1257.77
2699,-201.557,1402.00,1275.35,NaN,NaN,NaN,-269.102,1393.38,1257.89

In [112]:
X = hdf[['RELB_X', 'RELB_Y', 'RELB_Z', 'RFRM_X','RFRM_Y', 'RFRM_Z']]
scaler = StandardScaler()
X = scaler.fit_transform(X)
hdf['RM1_X'] = reg_x.predict(X)
hdf['RM1_Z'] = reg_y.predict(X)
hdf['RM1_Y'] = reg_z.predict(X)

In [113]:
hdf

,RELB_X,RELB_Y,RELB_Z,RM1_X,RM1_Y,RM1_Z,RFRM_X,RFRM_Y,RFRM_Z
0,-203.736,1404.92,1222.17,-220.236494,1178.910204,1369.733177,-271.763,1394.40,1189.50
1,-204.260,1404.35,1227.03,-221.448354,1181.890239,1368.857292,-272.387,1393.98,1195.38
2,-203.073,1403.32,1231.95,-219.850078,1183.986806,1367.153012,-272.895,1393.64,1200.91
3,-203.275,1402.86,1236.15,-220.548000,1186.688265,1366.376434,-273.212,1393.29,1206.06
4,-204.895,1402.92,1239.52,-223.526738,1189.807151,1366.486008,-273.361,1392.98,1210.80
...,...,...,...,...,...,...,...,...,...
2695,-201.682,1402.52,1274.75,-223.250550,1216.612139,1363.221106,-269.211,1394.09,1257.24
2696,-201.631,1402.38,1274.86,-223.131507,1216.663244,1363.020218,-269.160,1393.94,1257.38
2697,-201.590,1402.26,1275.01,-223.061730,1216.813322,1362.835743,-269.103,1393.76,1257.59
2698,-201.591,1402.15,1275.20,-223.061805,1216.983705,1362.672075,-269.087,1393.57,1257.77
2699,-201.557,1402.00,1275.35,-222.979927,1217.048093,1362.459942,-269.102,1393.38,1257.89

In [116]:
hdf.to_excel('hammer02_rm1.xlsx')

In [ ]:
def movement_labelling(file,window,prosup_thresh,dtm_thresh):
    if 'Bulb' in file:
        X,y = prep_data_prosup()
    ## Prosup

In [ ]:
x = 'Bulb'
if 'Bulb' or ''